# Written by Sim Young-Bo, mobileconvergence lab. Kyung Hee Univ.

# OVS Bridge and Port Setting
OPNFV_BR_PRIV=br-opnfv-priv
OPNFV_PREFIX_PRIV=priv-vport # If too long, kernel invokes error.

OPNFV_BR_PUB=br-opnfv-pub
OPNFV_PREFIX_PUB=pub-vport # If too long, kernel invokes error.

# JUMP SERVER NETWORK INFO
JUMP_NET=178.18.0.64
JUMP_GW=178.18.0.65
JUMP_MASK=255.255.255.192
JUMP_MASTER=1

# Physical Interface
PHY_ENABLE=1

PHY_IF_PRIV=eth0
PHY_BR_PRIV=br-$PHY_IF_PRIV

PHY_IF_PUB=eth4
PHY_BR_PUB=br-$PHY_IF_PUB

# Number of virtual machines
NUM_NODES=1
